body{
  overflow-y: hidden;
  overflow-x: hidden;
} 

/* #lock-screen {
  width: 100%;
  height: 100%;
  max-width: 420px;
  max-width: 850px;
  object-fit: cover;
}

#home-screen {
  visibility: hidden;
  width: 100%;
  height: 100%;
  max-width: 420px;
  max-width: 850px;
  object-fit: cover;
}  */

#lock-screen {
  width: 400px;
  height: 800px;
  object-fit: cover;
}

#home-screen {
  visibility: hidden;
  width: 400px;
  height: 800px;
  object-fit: cover;
}

#app-container {
  visibility: hidden;
}
#result-timer-wrapper{
  display:flex;
}

#result {
  visibility: hidden;
  display: flex;
  justify-content: center;
  font-size: 150px;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}

#pass-container {
  display: flex;
  flex-direction: column;
  visibility: hidden;
}

#btn-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  visibility: hidden;
}

#resume-btn {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}
#stop-btn {
  width: 100px;
  height: 100px;
  margin-left: 20px;
}

#label-container {
  display: none;
}

body {
  font-family: sans-serif;
  display: grid;
  height: 100vh;
  place-items: center;
}

.base-timer {
  position: relative;
  width: 300px;
  height: 300px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}
