/* General styles */
html,
body {
  background-color: #111111;
  /* margin: 0; */
  overflow-y: hidden;
  /* overflow:hidden; */
}

/* Lock screen wrapper */
.lock-screen-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lock-screen {
  width: 100%;
  height: 100%;
  max-width: 430px;
  max-height: 930px;
  object-fit: cover;
}

/* App container */
#app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:100%;
  visibility: hidden;
}

/* Canvas container */
.canvas-container {
  background-color: white;
  width: 100%;
  max-width: 450px;
  height: 100%;
  max-height: 450px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

#canvas {
  display: flex;
  align-content: center;
  width: 100%;
  max-width: 450px;
  height: 100%;
  max-height: 450px;
  background-color: white;
}

/* Result timer wrapper */
#result-timer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: 100%;
  max-width: 450px;
  max-height: 200px;
  background-color: white;
}

.result-timer-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

#result {
  visibility: hidden;
  display: flex;
  justify-content: center;
  font-size: 150px;
  margin-left: 20px;
}

#time {
  display: inline-block;
  font-size: 150px;
  margin-left: 80px;
  margin-right: 5px;
}

/* Password container */
#pass-container {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  margin-top: 10px;
  width: 100%;
  max-width: 450px;
}

#myInputLabel {
  color: red;
  visibility: hidden;
  display: none;
}

.form-check-label{
  color:white;
}

/* Button container */
#btn-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  visibility: hidden;
  width: 100%;
  max-width: 450px;
}

#resume-btn {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

/* Label container */
#label-container {
  display: none;
}

/* Home screen wrapper */
.home-screen-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-screen {
  visibility: hidden;
  width: 100%;
  height: 100%;
  max-width: 430px;
  max-height: 930px;
  object-fit: cover;
}

