html,
body {
  background-color: #e5e4e4;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#lock-screen {
  width: 100%;
  height: 100%;
  max-width: 430px;
  max-height: 930px;
  object-fit: cover;
}

#home-screen {
  visibility: hidden;
  width: 100%;
  height: 100%;
  max-width: 430px;
  max-height: 930px;
  object-fit: cover;
} 

#app-container {
  /* code to make the app-container stay centered regardless of phone screen size */
  display:flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;


  width: 100%;
  height: 100%;
  visibility: hidden;
}
#result-timer-wrapper {
  display: flex;
  border: 1px solid black;
  width: 390px;
}

.result-timer-child {
  width: 20%;
  float: left;
}

#result {
  visibility: hidden;
  display: flex;
  justify-content: center;
  font-size: 150px;
  width: 130px;
  height: 160px;
}

#pass-container {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  margin-top: 10px;
  width: 394px;
}

#btn-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  visibility: hidden;
  width: 394px;
}

#myInputLabel {
  color: red;
  visibility: hidden;
  display: none;
}

#resume-btn {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

#label-container {
  display: none;
}

#time {
  font-size: 150px;
  margin-left: 80px;
  margin-top: 10px;
}

#canvas {
  display: flex;
  align-content: center;
}


@media screen and (max-width: 390px), screen and (max-height:800px) {

}