/* Global Styles */
html,
body {
  background-color: #e5e4e4;
  margin: 0;
  /* overflow:hidden; */
}

/* Lock Screen Styles */
.lock-screen-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lock-screen {
  width: 100%;
  height: 100%;
  max-width: 430px;
  max-height: 930px;
  object-fit: cover;
}

/* Home Screen Styles */
.home-screen-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-screen {
  visibility: hidden;
  width: 100%;
  height: 100%;
  max-width: 430px;
  max-height: 930px;
  object-fit: cover;
}

/* App Container Styles */
#app-container {
  /* Code to make the app-container stay centered regardless of phone screen size */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  width: 100%;
  height: 900px;
  /* height: 100%; */
  visibility: hidden;
  margin-bottom: 100px;
}

/* Result Timer Styles */
#result-timer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  /* width: 390px; */
}

.result-timer-child {
  /* width: 20%; */
  /* float: left; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Result Display Styles */
#result {
  visibility: hidden;
  display: flex;
  justify-content: center;
  font-size: 150px;
  margin-left: 20px;
  /* width: 130px; */
  /* height: 160px; */
}

#time {
  display: inline-block;
  font-size: 150px;
  margin-left: 80px;
  margin-right: 5px;
}

/* Password Input Styles */
#pass-container {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  margin-top: 10px;
  width: 394px;
}

#myInputLabel {
  color: red;
  visibility: hidden;
  display: none;
}

/* Button Container Styles */
#btn-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  visibility: hidden;
  width: 394px;
}

#resume-btn {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

/* Label Container Styles */
#label-container {
  display: none;
}

/* Canvas Styles */
#canvas {
  display: flex;
  align-content: center;
}
